body { 
    color: black;
    background-color: mintcream;
    padding: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: navy;
    font-weight: bolder;
    font-style: italic;
    font-size: 2em;
    font-family: Georgia,Rockwell,Cambria,serif;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 1.7em; 
    font-style: normal;
    background-color: lightblue;
    width: fit-content;
    font-family: "Goudy Old Style","Big Caslon",Perpetua,serif;
    margin-left: 1.7%;
}

h2 strong { /* descendant selector--it only operates when the strong tag is contained within the h2 tag */
    background-color: lightblue;
}

h3 strong {
    font-style: italic;
    font-size: 1.25em;
    font-family: Cambria,Rockwell,Georgia,serif;
    text-shadow: 5px 5px 5px lightblue;
    margin-left: 1.7%;
}

h2, h3 strong{
    color: mediumblue;
}

p {
    color: black;
    font-style: normal;
    font-size: 1.2em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
    margin-left: 1em;
    margin-right: 1.7em;
}

p strong {
    color: mediumblue;
    font-size: 1.3em;
    text-shadow: 5px 5px 5px lightblue;
    margin-left: 0.3em
}

p.stats {
    text-align: center;
    margin-top: 3%;
    margin-right: 27%;
    margin-left: 23%;
}

p.intro {
    margin-left: 2%;
    margin-right: 4%;
    font-weight: bold;
}

p.aboutme {
    margin-left: 2%;
    margin-right: 4%;
}

p.conclusion {
    margin-left: 2%;
    margin-right: 4%;
    font-weight: bold;
    font-style: normal;
}

ul {
    margin-top: 0.2em;
    font-size: 1.2em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
}

table {
    table-layout: fixed;
    width: 88%;
    margin-left: 2.5%;
    margin-right: 9%;
}

tr {
    font-size: 1.2em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
    text-align: center;
    vertical-align: top;
}

dl {
    margin-left: 2.2%;
    margin-right: 5%;
    margin-top: 0.2em;
    margin-bottom: 3em;
    font-size: 1.2em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
}

ol {
    margin-left: 32.5%;
    margin-top: 0.2em;
    margin-bottom: 3em;
    font-size: 1.2em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
}

a {
    font-size: 1.12em;
    text-decoration: none;
    font-family: "Goudy Old Style","Big Caslon",Perpetua,serif;
}

a:link {
    color:lightblue;
}

a:visited {
    color:white;
}

a:hover {
    color: white;
    text-decoration: underline overline;
}

a:active {
    color: black;
    text-decoration: overline;
}

img#ECGLogo {
    width: 10%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.2em;
}

img#LeadershipGif {
    width: 16%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.2em;
}

img#ServiceGif {
    width: 19.5%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.2em;
}

img#ScholarGif {
    width: 19%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.2em;
}

img#ECGlogo {
    width: 12%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.2em;
}

img#Guilfordlogo {
    width: 12%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.2em;
}

p#BasicInfo {
    text-align: center;
    font-style: italic;
    font-family: "Times New Roman",Rockwell,Georgia,serif;
    font-size: 1em;
}

header {
    display: flex;
    height: 3em;
    justify-content: center;
    align-items: center;
    background-color: navy;
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-style: normal;
    font-size: 1.1em;
    padding: 0.25em;
    font-family: Cambria,Rockwell,Georgia,serif;
}

div.nav {
    font-size: 1.1em;
    width: 20%;
    text-align: center;
    line-height: 2em;
}

footer {
    display: flex;
    height: 4.5em;
    justify-content: center;
    align-items: center;
    background-color: navy;
    border-radius: 15px 15px 15px 15px;
    font-style: normal;
    font-size: 1em;
    padding-top: 1.35em;
    padding-bottom: 0.55em;
    padding-right: 1.7em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
}

li.footer {
    list-style-type: none;
    color: white;
    font-size: 0.8em;
    align-items: center;
    text-align: center;
    margin-top: 0.5%;
}

li.GPA {
    list-style-type: none;
    color: black;
    font-style: normal;
    font-size: 1em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
    margin-left: 2%;
    margin-right: 2%;
}

li.ACT {
    list-style-type: none;
    color: black;
    font-style: normal;
    font-size: 1em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
    margin-left: 2%;
    margin-right: 2%;
}

li.AP {
    list-style-type: none;
    color: black;
    font-style: normal;
    font-size: 1em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
    margin-left: 2%;
    margin-right: 2%;
}

li.service {
    list-style-type: none;
    color: black;
    font-style: normal;
    font-size: 1em;
    font-family: Garamond,"Big Caslon",Cambria,serif;
    margin-left: 2%;
    margin-right: 2%;
}

p.footer {
    height: 10px;
    margin-top: 10px;
}

button#thebutton, button#anotherbutton, button#resetbutton{
    font-size: 1.2em;
    padding-top: 5px;
    line-height: 1em;
    color: white;
    font-family: "Goudy Old Style","Big Caslon",Perpetua,serif;
    margin: 1em;
    background-color: navy;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

input#myinput {
    font-size: 1.2em;
    padding-top: 5px;
    line-height: 0.5em;
    color: black;
    font-family: Garamond,"Big Caslon",Cambria,serif;
    margin: 1em;
    width: 275px;
    height: 15px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}