body {
    color: black;
    background-color: mintcream;
}

h1 {
    color: navy;
    font-weight: bolder;
    font-style: italic;
    font-size: 2em;
    font-family: Georgia,Rockwell,Cambria,serif;

}

h2 {
    color: mediumblue;
    font-weight: bold;
    font-size: 1.5em;
    font-style: none;
    background-color: lightblue;
    width: fit-content;
    font-family: "Goudy Old Style","Big Caslon",Perpetua,serif;
}

h2 strong {
    background-color: lightblue;
}

a {
    font-size: 1em;
}

a:link {
    color:navy;
}

a:visited {
    color:mediumblue;
}

a:hover {
    color: red;
    text-decoration: line-through;
}

a:active {
    color: black;
    text-decoration: overline;
}