body {
    color: black;
    background-color: mintcream;
}

h1 {
    color: navy;
    font-weight: bolder;
    font-style: italic;
    font-size: 2em;
    font-family: Georgia,Rockwell,Cambria,serif;

}

h2 {
    color: mediumblue;
    font-weight: bold;
    font-size: 1.5em;
    background-color: lightblue;
    width: fit-content;
    font-family: "Goudy Old Style","Big Caslon",Perpetua,serif;
}